-
	var menuList = [
		{
			class: 'active',
			href: 'catalogue.html',
			text: 'Галерея'
		},
		{
			class: '',
			href: '#',
			text: 'О нас'
		},
		{
			class: '',
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			class: 'active',
			ref: '#',
			text: 'ру'
		},
		{
			class: '',
			ref: '#',
			text: 'ук'
		},
		{
			class: '',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon icon_facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon icon_instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		},
		{
			class: 'icon icon_cross',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#cross'
		}
	];

//- project's data goes here

-
	var mainGallery = 
		{
			current: "01",
			title: "галерея",
			description: "Кожен з нас робить по 400 зйомок в рік, і кожна успішна. Ми не просто робимо фотографію, ми знімаємо для вас фотоісторію",
			total: "24 альбоми",
			pictures: 
				[
					{
						img: "i/lobby.jpg", 
						class: "main-gallery__picture_lg",
					},
					{
						img: "i/food_serve.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						img: "i/rest_supply.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						img: "i/trip.jpg", 
						class: "main-gallery__picture_sm",
					},
					{
						img: "i/tesla.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						img: "i/wedding.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						img: "i/food_dish.jpg", 
						class: "main-gallery__picture_md",
					},
				],
			btn: "ВСІ РОБОТИ"
		}
-
	var menuList = [
		{
			class: 'active',
			href: 'gallery.html',
			text: 'Галерея'
		},
		{
			class: '',
			href: '#',
			text: 'О нас'
		},
		{
			class: '',
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			class: 'active',
			ref: '#',
			text: 'ру'
		},
		{
			class: '',
			ref: '#',
			text: 'ук'
		},
		{
			class: '',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon icon_facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon icon_instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		},
		{
			class: 'icon icon_cross',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#cross'
		}
	];

//- project's data goes here
-
	var clientsData = 
		{
			current: "03",
			title: "наші клієнти",
			сlients: 
				[
					{
						href: "#",
						img: "i/clients/picture_1.png",
					},
					{
						href: "#",
						img: "i/clients/picture_4.png",
					},
					{
						href: "#",
						img: "i/clients/picture_5.png",
					},
					{
						href: "#",
						img: "i/clients/picture_2.png",
					},
					{
						href: "#",
						img: "i/clients/picture_3.png",
					},
					{
						href: "#",
						img: "i/clients/picture_10.png",
					},
					{
						href: "#",
						img: "i/clients/picture_7.png",
					},
					{
						href: "#",
						img: "i/clients/picture_9.png",
					},
					{
						href: "#",
						img: "i/clients/picture_8.png",
					},
					{
						href: "#",
						img: "i/clients/picture_6.png",
					}	
				]
		}

-
	var imagesList = [
		{
			className: "gallery-content__item-1",
			img: "i/gallery-content/umf-1.jpg"
		},
		{
			className: "gallery-content__item-2",
			img: "i/gallery-content/umf-2.jpg"
		},
		{
			className: "gallery-content__item-3",
			img: "i/gallery-content/umf-3.jpg"
		},
		{
			className: "gallery-content__item-4",
			img: "i/gallery-content/umf-4.jpg"
		},
		{
			className: "gallery-content__item-5",
			img: "i/gallery-content/umf-5.jpg"
		},
		{
			className: "gallery-content__item-6",
			img: "i/gallery-content/umf-6.jpg"
		},
		{
			className: "gallery-content__item-7",
			img: "i/gallery-content/umf-7.jpg"
		}
	]

-
	var UMFData = {
		title: "Ukrainian Medical Festival",
		paragraphs: [
			{
				paragraph: "When we launched in 2009, the online music industry was still in its infancy. Trying to stay afloat as a free expert driven music discovery service in this evolving market has been a beautiful struggle."
			},
			{
				paragraph: "We were often faced with tought dicisions and changed to a leaner version of our platform six months ago. Now it seems the time has come to move on to new projects completely."
			}
		],
		date: "8.13.2017"
	}

-
	var gallerySlider = [
		{
			href: "#",
			className: "slide-1",
			category: "Интерьер",
			text: "Студия"
		},
		{
			href: "#",
			className: "slide-2",
			category: "Природа",
			text: "Закарпаття"
		},
		{
			href: "#",
			className: "slide-3",
			category: "Шоп",
			text: "Мясо"
		},
		{
			href: "#",
			className: "slide-4",
			category: "Архитектура",
			text: "Братислава"
		},
		{
			href: "#",
			className: "slide-5",
			category: "Архитектура",
			text: "Белый дом"
		},
		{
			href: "#",
			className: "slide-6",
			category: "Автомобили",
			text: "Volkswagen Festival"
		},
		{
			href: "#",
			className: "slide-7",
			category: "Бизнес",
			text: "Ребята и работа"
		},
		{
			href: "#",
			className: "slide-8",
			category: "Города",
			text: "Budapest"
		}
	]