-
	var menuList = [
		{
			class: 'active',
			href: 'gallery.html',
			text: 'Галерея'
		},
		{
			class: '',
			href: '#',
			text: 'О нас'
		},
		{
			class: '',
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			class: 'active',
			ref: '#',
			text: 'ру'
		},
		{
			class: '',
			ref: '#',
			text: 'ук'
		},
		{
			class: '',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon icon_facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon icon_instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		},
		{
			class: 'icon icon_cross',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#cross'
		}
	];

//- project's data goes here

-
	var mainGallery = 
		{
			current: "01",
			title: "галерея",
			description: "Кожен з нас робить по 400 зйомок в рік, і кожна успішна. Ми не просто робимо фотографію, ми знімаємо для вас фотоісторію",
			total: "24 альбоми",
			pictures: 
				[
					{
						img: "i/lobby.jpg", 
						class: "main-gallery__picture_lg",
					},
					{
						img: "i/food_serve.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						img: "i/rest_supply.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						img: "i/trip.jpg", 
						class: "main-gallery__picture_sm",
					},
					{
						img: "i/tesla.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						img: "i/wedding.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						img: "i/food_dish.jpg", 
						class: "main-gallery__picture_md",
					},
				],
			btn: "ВСІ РОБОТИ"
		}
-
	var menuList = [
		{
			class: 'active',
			href: 'gallery.html',
			text: 'Галерея'
		},
		{
			class: '',
			href: '#',
			text: 'О нас'
		},
		{
			class: '',
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			class: 'active',
			ref: '#',
			text: 'ру'
		},
		{
			class: '',
			ref: '#',
			text: 'ук'
		},
		{
			class: '',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon icon_facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon icon_instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		},
		{
			class: 'icon icon_cross',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#cross'
		}
	];

//- project's data goes here
-
	var clientsData = 
		{
			current: "03",
			title: "наші клієнти",
			сlients: 
				[
					{
						href: "#",
						img: "i/clients/picture_1.png",
					},
					{
						href: "#",
						img: "i/clients/picture_4.png",
					},
					{
						href: "#",
						img: "i/clients/picture_5.png",
					},
					{
						href: "#",
						img: "i/clients/picture_2.png",
					},
					{
						href: "#",
						img: "i/clients/picture_3.png",
					},
					{
						href: "#",
						img: "i/clients/picture_10.png",
					},
					{
						href: "#",
						img: "i/clients/picture_7.png",
					},
					{
						href: "#",
						img: "i/clients/picture_9.png",
					},
					{
						href: "#",
						img: "i/clients/picture_8.png",
					},
					{
						href: "#",
						img: "i/clients/picture_6.png",
					}	
				]
		}