-
	var menuList = [
		{
			class: 'active',
			href: 'gallery.html',
			text: 'Галерея'
		},
		{
			class: '',
			href: '#',
			text: 'О нас'
		},
		{
			class: '',
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			class: 'active',
			ref: '#',
			text: 'ру'
		},
		{
			class: '',
			ref: '#',
			text: 'ук'
		},
		{
			class: '',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon _facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon _instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		},
		{
			class: 'icon _cross',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#cross'
		}
	];