-
	var menuList = [
		{
			class: 'active',
			href: 'catalogue.html',
			text: 'Галерея'
		},
		{
			class: '',
			href: '#',
			text: 'О нас'
		},
		{
			class: '',
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			class: 'active',
			ref: '#',
			text: 'ру'
		},
		{
			class: '',
			ref: '#',
			text: 'ук'
		},
		{
			class: '',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon icon_facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon icon_instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		},
		{
			class: 'icon icon_cross',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#cross'
		}
	];

//- project's data goes here

//- ==================== b-mainGallery ====================
-
	var mainGallery = 
		{
			current: "01",
			title: "галерея",
			description: "Кожен з нас робить по 400 зйомок в рік, і кожна успішна. Ми не просто робимо фотографію, ми знімаємо для вас фотоісторію",
			total: "24 альбоми",
			pictures: 
				[
					{
						img: "i/main-gallery/lobby.jpg", 
						class: "main-gallery__picture_lg",
					},
					{
						img: "i/main-gallery/food_serve.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						img: "i/main-gallery/rest_supply.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						img: "i/main-gallery/trip.jpg", 
						class: "main-gallery__picture_sm",
						text: 
							{
								area: "places",
								title: "mediterranean sailing",
								description: "Must visit holiday description"
							}
					},
					{
						img: "i/main-gallery/tesla.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						img: "i/main-gallery/wedding.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						img: "i/main-gallery/food_dish.jpg", 
						class: "main-gallery__picture_md",
					},
				],
			btn: "ВСІ РОБОТИ"
		}
//- ==================== b-mainGallery ====================

//- ==================== b-clients ====================
-
	var clientsData = 
		{
			current: "03",
			title: "наші клієнти",
			сlients: 
				[
					{
						href: "#",
						img: "i/clients/picture_1.png",
					},
					{
						href: "#",
						img: "i/clients/picture_4.png",
					},
					{
						href: "#",
						img: "i/clients/picture_5.png",
					},
					{
						href: "#",
						img: "i/clients/picture_2.png",
					},
					{
						href: "#",
						img: "i/clients/picture_3.png",
					},
					{
						href: "#",
						img: "i/clients/picture_10.png",
					},
					{
						href: "#",
						img: "i/clients/picture_7.png",
					},
					{
						href: "#",
						img: "i/clients/picture_9.png",
					},
					{
						href: "#",
						img: "i/clients/picture_8.png",
					},
					{
						href: "#",
						img: "i/clients/picture_6.png",
					}	
				]
		}

-
	var imagesList = [
		{
			className: "gallery-content__item-1",
			img: "i/gallery-content/umf-1.jpg"
		},
		{
			className: "gallery-content__item-2",
			img: "i/gallery-content/umf-2.jpg"
		},
		{
			className: "gallery-content__item-3",
			img: "i/gallery-content/umf-3.jpg"
		},
		{
			className: "gallery-content__item-4",
			img: "i/gallery-content/umf-4.jpg"
		},
		{
			className: "gallery-content__item-5",
			img: "i/gallery-content/umf-5.jpg"
		},
		{
			className: "gallery-content__item-6",
			img: "i/gallery-content/umf-6.jpg"
		},
		{
			className: "gallery-content__item-7",
			img: "i/gallery-content/umf-7.jpg"
		}
	]

-
	var UMFData = {
		title: "Ukrainian Medical Festival",
		paragraphs: [
			{
				paragraph: "When we launched in 2009, the online music industry was still in its infancy. Trying to stay afloat as a free expert driven music discovery service in this evolving market has been a beautiful struggle."
			},
			{
				paragraph: "We were often faced with tought dicisions and changed to a leaner version of our platform six months ago. Now it seems the time has come to move on to new projects completely."
			}
		],
		date: "8.13.2017"
	}

//- ==================== b-clients ====================

//- ==================== b-catalogue ====================
-
	var gallerySlider = [
		{
			href: "#",
			className: "slide-1",
			category: "Интерьер",
			text: "Студия"
		},
		{
			href: "#",
			className: "slide-2",
			category: "Природа",
			text: "Закарпаття"
		},
		{
			href: "#",
			className: "slide-3",
			category: "Шоп",
			text: "Мясо"
		},
		{
			href: "#",
			className: "slide-4",
			category: "Архитектура",
			text: "Братислава"
		},
		{
			href: "#",
			className: "slide-5",
			category: "Архитектура",
			text: "Белый дом"
		},
		{
			href: "#",
			className: "slide-6",
			category: "Автомобили",
			text: "Volkswagen Festival"
		},
		{
			href: "#",
			className: "slide-7",
			category: "Бизнес",
			text: "Ребята и работа"
		},
		{
			href: "#",
			className: "slide-8",
			category: "Города",
			text: "Budapest"
		}
	]
	var catMenu =
		[
			{
				id: "all",
				class: "active",
				href: "#",
				text: "все"
			},
			{
				id: "sea",
				class: "",
				href: "#",
				text: "море"
			},
			{
				id: "business",
				class: "",
				href: "#",
				text: "бизнес"
			},
			{
				id: "cars",
				class: "",
				href: "#",
				text: "автомобили"
			},
			{
				id: "wedding",
				class: "",
				href: "#",
				text: "свадьба"
			},
			{
				id: "restaurants",
				class: "",
				href: "#",
				text: "рестораны"
			},
			{
				id: "cities",
				class: "",
				href: "#",
				text: "города"
			}
		];

-
	var catPics =
		[
			{
				isotopeClass: "cars", 
				num: "01",
				href: "i/catalogue/vw_1.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "02",
				href: "i/catalogue/umf.jpg",
				area: "бизнес",
				title: "ukrainian medical festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "restaurants", 
				num: "03",
				href: "i/catalogue/beef_wine.jpg",
				area: "рестораны",
				title: "beef мясо & вино restaurant",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "wedding", 
				num: "04",
				href: "i/catalogue/engagement.jpg",
				area: "свадьба",
				title: "обручальный момент",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "05",
				href: "i/catalogue/golden_gate_br.jpg",
				area: "город",
				title: "golden gate",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "cars", 
				num: "06",
				href: "i/catalogue/vw_2.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cars", 
				num: "07",
				href: "i/catalogue/vw_3.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "08",
				href: "i/catalogue/guys_work.jpg",
				area: "бизнес",
				title: "ребята и работа",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "09",
				href: "i/catalogue/budapest.jpg",
				area: "города",
				title: "budapest",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "", 
				num: "10",
				href: "i/catalogue/desert.jpg",
				area: "категория",
				title: "пустынная пустыня",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "11",
				href: "i/catalogue/nyc.jpg",
				area: "города",
				title: "new york city",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "", 
				num: "12",
				href: "i/catalogue/white_palace.jpg",
				area: "архитектура",
				title: "белый дворец",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "cities", 
				num: "13",
				href: "i/catalogue/brick_house.jpg",
				area: "город",
				title: "красный дом",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "14",
				href: "i/catalogue/laptop_desk.jpg",
				area: "бизнес",
				title: "ноут, стол, стул",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cars", 
				num: "15",
				href: "i/catalogue/vw_4_p.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "business", 
				num: "16",
				href: "i/catalogue/shoes_foot.jpeg",
				area: "бизнес",
				title: "ноги и туфли мужика",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "sea", 
				num: "17",
				href: "i/catalogue/wave.jpg",
				area: "море",
				title: "набегающая волна",
				size: "catalogue__picture_sm"
			}
		]
//- ==================== b-catalogue ====================
