-
	var menuList = [
		{
			href: 'catalogue.html',
			text: 'Галерея'
		},
		{
			href: '#',
			text: 'О нас'
		},
		{
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			id: 'ru',
			ref: '#',
			text: 'ру'
		},
		{
			id: 'ua',
			ref: '#',
			text: 'ук'
		},
		{
			id: 'en',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon icon_facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon icon_instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		}
	];

//- project's data goes here

//- ==================== b-mainSlider ====================
-
	var mainSlider =
	{
		logo: "i/mainSlider/mainSlider-logo.jpg",
		tag: "Наша сфера",
		headline: "Бизнес фотография",
		description: "Команда профессионалов, которые делают визуальный контент для любого бизнеса",
		FBlink: "https://www.instagram.com",
		IGlink: "https://www.facebook.com",
		socialsFB: "i/mainSlider/mainSlider-fb.png",
		socialsIG: "i/mainSlider/mainSlider-ig.png",
		mainSliderImages: [{
			img: "i/mainSlider/01.jpg"
		},
		{
		 	img: "i/mainSlider/02.jpg"
		},
		{
		 	img: "i/mainSlider/03.jpg"
		 }]
	}




//- ==================== b-mainGallery ====================
-
	var mainGallery = 
		{
			current: "01",
			title: "галерея",
			description: "Кожен з нас робить по 400 зйомок в рік, і кожна успішна. Ми не просто робимо фотографію, ми знімаємо для вас фотоісторію",
			total: "24 альбоми",
			pictures: 
				[
					{
						imgReg: "i/main-gallery/lobby.jpg", 
						imgSm: "i/main-gallery/lobby_sm.jpg", 
						class: "main-gallery__picture_lg",
					},
					{
						imgReg: "i/main-gallery/food_serve.jpg", 
						imgSm: "i/main-gallery/food_serve_sm.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						imgReg: "i/main-gallery/rest_supply.jpg", 
						imgSm: "i/main-gallery/rest_supply_sm.jpg", 
						class: "main-gallery__picture_xs",
					},
					{
						imgReg: "i/main-gallery/trip.jpg", 
						imgSm: "i/main-gallery/trip_sm.jpg", 
						class: "main-gallery__picture_sm",
						text: 
							{
								area: "places",
								title: "mediterranean sailing",
								description: "Must visit holiday description"
							}
					},
					{
						imgReg: "i/main-gallery/tesla.jpg", 
						imgSm: "i/main-gallery/tesla_sm.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						imgReg: "i/main-gallery/wedding.jpg", 
						imgSm: "i/main-gallery/wedding_sm.jpg", 
						class: "main-gallery__picture_md",
					},
					{
						imgReg: "i/main-gallery/food_dish.jpg", 
						imgSm: "i/main-gallery/food_dish_sm.jpg", 
						class: "main-gallery__picture_md",
					},
				],
			btn: "ВСІ РОБОТИ"
		}
//- ==================== b-mainGallery ====================

//- ==================== b-clients ====================
-
	var clientsData = 
		{
			current: "03",
			title: "наші клієнти",
			сlients: 
				[
					{
						href: "#",
						img: "i/clients/picture_1.png",
					},
					{
						href: "#",
						img: "i/clients/picture_4.png",
					},
					{
						href: "#",
						img: "i/clients/picture_5.png",
					},
					{
						href: "#",
						img: "i/clients/picture_2.png",
					},
					{
						href: "#",
						img: "i/clients/picture_3.png",
					},
					{
						href: "#",
						img: "i/clients/picture_10.png",
					},
					{
						href: "#",
						img: "i/clients/picture_7.png",
					},
					{
						href: "#",
						img: "i/clients/picture_9.png",
					},
					{
						href: "#",
						img: "i/clients/picture_8.png",
					},
					{
						href: "#",
						img: "i/clients/picture_6.png",
					}	
				]
		}
//- ==================== b-clients ====================
-
	var imagesList = [
		{
			className: "gallery-content__item-1",
			images: [
				{
					img: "i/gallery-content/umf-1-320.jpg",
					media: "(max-width: 320px)"
				},
				{
					img: "i/gallery-content/umf-1-480.jpg",
					media: "(max-width: 480px)"
				},
				{
					img: "i/gallery-content/umf-1-768.jpg",
					media: "(max-width: 768px)"
				},
				{
					img: "i/gallery-content/umf-1-1024.jpg",
					media: "(max-width: 1024px)"
				},
				{
					img: "i/gallery-content/umf-1-1600.jpg",
					media: "(max-width: 2000px)"
				}
			],
			singleImg: "i/gallery-content/umf-1.jpg"
		},
		{
			className: "gallery-content__item-2",
			images: [
				{
					img: "i/gallery-content/umf-2-320.jpg",
					media: "(max-width: 320px)"
				},
				{
					img: "i/gallery-content/umf-2-480.jpg",
					media: "(max-width: 480px)"
				},
				{
					img: "i/gallery-content/umf-2-768.jpg",
					media: "(max-width: 768px)"
				},
				{
					img: "i/gallery-content/umf-2-1024.jpg",
					media: "(max-width: 1024px)"
				},
				{
					img: "i/gallery-content/umf-2-1600.jpg",
					media: "(max-width: 2000px)"
				}
			],
			singleImg: "i/gallery-content/umf-2.jpg"
		},
		{
			className: "gallery-content__item-3",
			images: [
				{
					img: "i/gallery-content/umf-3-320.jpg",
					media: "(max-width: 320px)"
				},
				{
					img: "i/gallery-content/umf-3-480.jpg",
					media: "(max-width: 480px)"
				},
				{
					img: "i/gallery-content/umf-3-768.jpg",
					media: "(max-width: 768px)"
				},
				{
					img: "i/gallery-content/umf-3-1024.jpg",
					media: "(max-width: 1024px)"
				},
				{
					img: "i/gallery-content/umf-3-1600.jpg",
					media: "(max-width: 2000px)"
				}
			],
			singleImg: "i/gallery-content/umf-3.jpg"
		},
		{
			className: "gallery-content__item-4",
			images: [
				{
					img: "i/gallery-content/umf-4-320.jpg",
					media: "(max-width: 320px)"
				},
				{
					img: "i/gallery-content/umf-4-480.jpg",
					media: "(max-width: 480px)"
				},
				{
					img: "i/gallery-content/umf-4-768.jpg",
					media: "(max-width: 768px)"
				},
				{
					img: "i/gallery-content/umf-4-1024.jpg",
					media: "(max-width: 1024px)"
				},
				{
					img: "i/gallery-content/umf-4-1600.jpg",
					media: "(max-width: 2000px)"
				}
			],
			singleImg: "i/gallery-content/umf-4.jpg"
		},
		{
			className: "gallery-content__item-5",
			images: [
				{
					img: "i/gallery-content/umf-5-320.jpg",
					media: "(max-width: 320px)"
				},
				{
					img: "i/gallery-content/umf-5-480.jpg",
					media: "(max-width: 480px)"
				},
				{
					img: "i/gallery-content/umf-5-768.jpg",
					media: "(max-width: 768px)"
				},
				{
					img: "i/gallery-content/umf-5-1024.jpg",
					media: "(max-width: 1024px)"
				},
				{
					img: "i/gallery-content/umf-5-1600.jpg",
					media: "(max-width: 2000px)"
				}
			],
			singleImg: "i/gallery-content/umf-5.jpg"
		},
		{
			className: "gallery-content__item-6",
			images: [
				{
					img: "i/gallery-content/umf-6-320.jpg",
					media: "(max-width: 320px)"
				},
				{
					img: "i/gallery-content/umf-6-480.jpg",
					media: "(max-width: 480px)"
				},
				{
					img: "i/gallery-content/umf-6-768.jpg",
					media: "(max-width: 768px)"
				},
				{
					img: "i/gallery-content/umf-6-1024.jpg",
					media: "(max-width: 1024px)"
				},
				{
					img: "i/gallery-content/umf-6-1600.jpg",
					media: "(max-width: 2000px)"
				}
			],
			singleImg: "i/gallery-content/umf-6.jpg"
		},
		{
			className: "gallery-content__item-7",
			images: [
				{
					img: "i/gallery-content/umf-7-320.jpg",
					media: "(max-width: 320px)"
				},
				{
					img: "i/gallery-content/umf-7-480.jpg",
					media: "(max-width: 480px)"
				},
				{
					img: "i/gallery-content/umf-7-768.jpg",
					media: "(max-width: 768px)"
				},
				{
					img: "i/gallery-content/umf-7-1024.jpg",
					media: "(max-width: 1024px)"
				},
				{
					img: "i/gallery-content/umf-7-1600.jpg",
					media: "(max-width: 2000px)"
				}
			],
			singleImg: "i/gallery-content/umf-7.jpg"
		}
	]

-
	var UMFData = {
		title: "Ukrainian Medical Festival",
		paragraphs: [
			{
				paragraph: "When we launched in 2009, the online music industry was still in its infancy. Trying to stay afloat as a free expert driven music discovery service in this evolving market has been a beautiful struggle."
			},
			{
				paragraph: "We were often faced with tought dicisions and changed to a leaner version of our platform six months ago. Now it seems the time has come to move on to new projects completely."
			}
		],
		date: "8.13.2017"
	}


-
	var gallerySlider = [
		{
			href: "#",
			className: "slide-1",
			category: "Интерьер",
			text: "Студия"
		},
		{
			href: "#",
			className: "slide-2",
			category: "Природа",
			text: "Закарпаття"
		},
		{
			href: "#",
			className: "slide-3",
			category: "Шоп",
			text: "Мясо"
		},
		{
			href: "#",
			className: "slide-4",
			category: "Архитектура",
			text: "Братислава"
		},
		{
			href: "#",
			className: "slide-5",
			category: "Архитектура",
			text: "Белый дом"
		},
		{
			href: "#",
			className: "slide-6",
			category: "Автомобили",
			text: "Volkswagen Festival"
		},
		{
			href: "#",
			className: "slide-7",
			category: "Бизнес",
			text: "Ребята и работа"
		},
		{
			href: "#",
			className: "slide-8",
			category: "Города",
			text: "Budapest"
		}
	]

-
	var catMenu =
		[
			{
				id: "all",
				class: "active",
				href: "#",
				text: "все"
			},
			{
				id: "sea",
				class: "",
				href: "#",
				text: "море"
			},
			{
				id: "business",
				class: "",
				href: "#",
				text: "бизнес"
			},
			{
				id: "cars",
				class: "",
				href: "#",
				text: "автомобили"
			},
			{
				id: "wedding",
				class: "",
				href: "#",
				text: "свадьба"
			},
			{
				id: "restaurants",
				class: "",
				href: "#",
				text: "рестораны"
			},
			{
				id: "cities",
				class: "",
				href: "#",
				text: "города"
			}
		];

//- ==================== b-catalogue ====================
-
	var catPics =
		[
			{
				isotopeClass: "cars", 
				num: "01",
				reg: "i/catalogue/vw_1.jpg",
				sm: "i/catalogue/vw_1_sm.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "02",
				reg: "i/catalogue/umf.jpg",
				sm: "i/catalogue/umf_sm.jpg",
				area: "бизнес",
				title: "ukrainian medical festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "restaurants", 
				num: "03",
				reg: "i/catalogue/beef_wine.jpg",
				sm: "i/catalogue/beef_wine_sm.jpg",
				area: "рестораны",
				title: "beef мясо & вино restaurant",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "wedding", 
				num: "04",
				reg: "i/catalogue/engagement.jpg",
				sm: "i/catalogue/engagement_sm.jpg",
				area: "свадьба",
				title: "обручальный момент",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "05",
				reg: "i/catalogue/golden_gate_br.jpg",
				sm: "i/catalogue/golden_gate_br_sm.jpg",
				area: "город",
				title: "golden gate",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "cars", 
				num: "06",
				reg: "i/catalogue/vw_2.jpg",
				sm: "i/catalogue/vw_2_sm.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cars", 
				num: "07",
				reg: "i/catalogue/vw_3.jpg",
				sm: "i/catalogue/vw_3_sm.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "08",
				reg: "i/catalogue/guys_work.jpg",
				sm: "i/catalogue/guys_work_sm.jpg",
				area: "бизнес",
				title: "ребята и работа",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "09",
				reg: "i/catalogue/budapest.jpg",
				sm: "i/catalogue/budapest_sm.jpg",
				area: "города",
				title: "budapest",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "", 
				num: "10",
				reg: "i/catalogue/desert.jpg",
				sm: "i/catalogue/desert_sm.jpg",
				area: "категория",
				title: "пустынная пустыня",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "11",
				reg: "i/catalogue/nyc.jpg",
				sm: "i/catalogue/nyc_sm.jpg",
				area: "города",
				title: "new york city",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "", 
				num: "12",
				reg: "i/catalogue/white_palace.jpg",
				sm: "i/catalogue/white_palace_sm.jpg",
				area: "архитектура",
				title: "белый дворец",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "cities", 
				num: "13",
				reg: "i/catalogue/brick_house.jpg",
				sm: "i/catalogue/brick_house_sm.jpg",
				area: "город",
				title: "красный дом",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "14",
				reg: "i/catalogue/laptop_desk.jpg",
				sm: "i/catalogue/laptop_desk_sm.jpg",
				area: "бизнес",
				title: "ноут, стол, стул",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cars", 
				num: "15",
				reg: "i/catalogue/vw_4_p.jpg",
				sm: "i/catalogue/vw_4_p_sm.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "business", 
				num: "16",
				reg: "i/catalogue/shoes_foot.jpg",
				sm: "i/catalogue/shoes_foot_sm.jpg",
				area: "бизнес",
				title: "ноги и туфли мужика",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "sea", 
				num: "17",
				reg: "i/catalogue/wave.jpg",
				sm: "i/catalogue/wave_sm.jpg",
				area: "море",
				title: "набегающая волна",
				size: "catalogue__picture_sm"
			}
		]
//- ==================== b-catalogue ====================

-
	var teamData = {
		title: "КОМАНДА",
		description: [
			{
				text: "Каждый из нас делает по 400 съемок в год, и каждая успешная. Мы непросто делаем для вас историю."
			},
			{
				text: "Сформировать рынок отечественной фотографии, объединить специалистов готовых работать над его развитием."
			}
		],
		subtitle: "Наши ценности",
		advantages: [
			{
				advantage: "Полная ответсвенность за свою работу"
			},
			{
				advantage: "Доверие и уважение всех коллег и партнеров"
			},
			{
				advantage: "Поддержка и взаимопомощь"
			}
		],
		images: [
			{
				image: "i/team/slider-item-1.jpg"
			},
			{
				image: "i/team/slider-item-2.jpg"
			},
			{
				image: "i/team/slider-item-3.jpg"
			}
		]
	}