//- project's data goes here
-
	var clientsData = 
		{
			current: "03",
			title: "наші клієнти",
			сlients: 
				[
					{
						href: "#",
						img: "i/clients/picture_1.png",
					},
					{
						href: "#",
						img: "i/clients/picture_4.png",
					},
					{
						href: "#",
						img: "i/clients/picture_5.png",
					},
					{
						href: "#",
						img: "i/clients/picture_2.png",
					},
					{
						href: "#",
						img: "i/clients/picture_3.png",
					},
					{
						href: "#",
						img: "i/clients/picture_10.png",
					},
					{
						href: "#",
						img: "i/clients/picture_7.png",
					},
					{
						href: "#",
						img: "i/clients/picture_9.png",
					},
					{
						href: "#",
						img: "i/clients/picture_8.png",
					},
					{
						href: "#",
						img: "i/clients/picture_6.png",
					}	
				]
		}