-
	var menuList = [
		{
			class: 'active',
			href: 'gallery.html',
			text: 'Галерея'
		},
		{
			class: '',
			href: '#',
			text: 'О нас'
		},
		{
			class: '',
			href: '#',
			text: 'Блог'
		}
	];

-
	var languagesList = [
		{
			class: 'active',
			ref: '#',
			text: 'ру'
		},
		{
			class: '',
			ref: '#',
			text: 'ук'
		},
		{
			class: '',
			ref: '#',
			text: 'en'
		}
	];

-
	var socialList = [
		{
			class: 'icon icon_facebook',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#facebook'
		},
		{
			class: 'icon icon_instagram',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#instagram'
		},
		{
			class: 'icon icon_cross',
			href: '#',
			svg: 'svg/symbol/svg/sprite.symbol.svg#cross'
		}
	];

//- project's data goes here
-
	var clientsData = 
		{
			current: "03",
			title: "наші клієнти",
			сlients: 
				[
					{
						href: "#",
						img: "i/clients/picture_1.png",
					},
					{
						href: "#",
						img: "i/clients/picture_4.png",
					},
					{
						href: "#",
						img: "i/clients/picture_5.png",
					},
					{
						href: "#",
						img: "i/clients/picture_2.png",
					},
					{
						href: "#",
						img: "i/clients/picture_3.png",
					},
					{
						href: "#",
						img: "i/clients/picture_10.png",
					},
					{
						href: "#",
						img: "i/clients/picture_7.png",
					},
					{
						href: "#",
						img: "i/clients/picture_9.png",
					},
					{
						href: "#",
						img: "i/clients/picture_8.png",
					},
					{
						href: "#",
						img: "i/clients/picture_6.png",
					}	
				]
		}