mixin b-menu
	+b.menu
		+e('span').toggler
			+e('svg').icon.open(id="menu-icon")
				use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#menu'))
				+e('span').text Меню

mixin b-icons
	+b.icons
		+e('a').link(href='#')
			+e('svg').icon._facebook
				use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#facebook'))
		+e('a').link(href='#')
			+e('svg').icon._instagram
				use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#instagram'))
		+e('svg').icon._cross
			use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#cross'))