mixin b-team-slider(teamData)
	+b.team-slider
		+e.container
			+e.controls
				+e('svg').button-prev(id="arrow-left")
					use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#chevron-thin-left'))
				+e('svg').button-next(id="arrow-right")
					use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#chevron-thin-right'))
			+e.slides
				+e.body
					each item in teamData
						+e('h2').title= item.title
						+e.description!= item.description
						+e('img').image(src=item.image)
	