.team-slider
	background: linear-gradient(120deg, #fafafa, #fff)
	margin-top: 135px
	margin-bottom: 120px
	&__container
		width: 100%
		max-width: 1240px
		margin: 0 auto
		padding: 0 20px
		display: flex
	&__controls
		display: flex
		flex-direction: column
		align-items: flex-end
	&__current
		font-weight: 700
		padding-top: 35px
	&__buttons
		display: flex
		margin-top: 180px
	&__button-prev,
	&__button-next
		width: 15px
		height: 15px
		fill: #000
		cursor: pointer
		display: inline-block
		border: none
		text-align: center
	&__title
		padding-top: 30px
	&__paragraph
		font-size: 14px
		font-weight: 400
		line-height: 20px
	&__subtitle
		text-transform: uppercase
		font-weight: 600
		font-size: 15px
		margin-bottom: 20px
	&__list-item
		margin-left: 17px
		font-size: 14px
		line-height: 20px
	&__button-prev
		margin-right: 30px
	&__info-container
		padding-left: 45px
		margin-right: 75px
	&__img
		width: 100%
		height: auto
	&__slides
		width: 50.5%
		display: none
	p:first-of-type
		margin-top: 35px
	p:last-of-type
		margin-top: 25px
		margin-bottom: 35px
