.gallery-content
	&__container
		width: 100%
		max-width: 1200px
		margin: 0 auto
		display: flex
		border-top: 1px solid #d2d0d0
		border-bottom: 1px solid #d2d0d0
	&__text
		padding-top: 50px
		padding-left: 20px
		padding-right: 95px
		flex-basis: 31%
	&__images
		padding-top: 50px
		padding-right: 20px
		padding-bottom: 135px
		flex-basis: 69%
	&__image
		width: 100%
		
		
	