include ../../globals/data
include ../../globals/mixins
include ../social-icons/social-icons


mixin b-gallery-content(UMFData, imagesList)
	+b.gallery-content
		+e.container
			+e.text
				+e('h1').title= UMFData.title
				each item in UMFData.paragraphs
					+e('p').paragraph= item.paragraph
				+e('span').date= UMFData.date
				+b-social-icons(socialList)
			+e.images
				each item in imagesList
					+e('figure').item(class= item.className)
						+e('img').img(src=asset(item.img))