@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.footer
	background-color: #000
	&__container
		width: 100%
		max-width: 1200px
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: center
	&__menu
		.menu
			&__item
				display: inline
			&__link
				color: #fff
	&__social-icons
		.icons
			&__icon
				fill: #fff
				margin-right: 20px
				&_cross
					display: none