@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.footer
	background-color: #000
	&__container
		width: 100%
		max-width: 1240px
		margin: 0 auto
		padding: 0 20px
		display: flex
		justify-content: space-between
		align-items: center
		@media #{$tablet-port}
			font-size: 14px
		@media #{$phone}
			flex-wrap: wrap
			font-size: 12px
			justify-content: space-around
	&__image
		padding-top: 22px
		padding-bottom: 18px
		@media #{$tablet-port}
			display: none
		@media #{$phone}
			display: none
	&__menu
		.menu
			&__list
				display: flex
				flex-wrap: wrap
				@media #{$desktopXS}
					margin-left: 30px
				@media #{$tablet-land}
					margin-left: 25px
				@media #{$tablet-port}
					flex-direction: column
					margin: 15px 0
				@media #{$phone}
					margin: 15px 0
			&__item
				display: inline
				@media #{$tablet-port}
					padding-bottom: 5px
				@media #{$phone}
					padding-bottom: 5px
			&__link
				color: $footer-gray
				padding-right: 33px
	&__contacts
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		@media #{$tablet-port}
			flex-direction: column
		@media #{$phone}
			flex-direction: column
			margin: 5px 0 10px 0
	&__email,
	&__phone
		padding-right: 40px
		color: $footer-gray
		@media #{$tablet-land}
			padding-right: 20px
			padding-bottom: 5px
		@media #{$tablet-port}
			padding-bottom: 5px
			text-align: center
			padding-right: 20px
		@media #{$phone}
			padding-bottom: 5px
			padding-right: 20px
			text-align: center
	&__social-icons
		.icons
		.icon
			fill: $footer-gray
			@media #{$tablet-land}
				margin-left: 0
				padding-right: 9px
			@media #{$tablet-port}
				margin-left: 0
				padding-right: 9px
			@media #{$phone}
				margin-left: 10px
		.icon_cross
			display: none