include ../../globals/data

mixin b-social-icons(socialList)
	+b.icons
		each item in socialList
			+e('a').link(href= item.href, target='_blank')
				svg(class= item.class)
					use(xlink:href=asset(item.svg))