mixin b-mainSlider(data)
  +b.mainSlider
    +e.info-container
      +e('img').logo(src= asset(data.logo))
      +e('p').tag= data.tag
      +e('p').headline= data.headline
      +e('p').description= data.description
      +e.socials
        +e('a')(href= data.IGlink, target='_blank')
          +e('img').facebook(src= asset(data.socialsFB))
        +e('a')(href= data.FBlink, target='_blank')
          +e('img').instagram(src= asset(data.socialsIG))
    +b.carousel-container  
      +e('button').button-prev 〈 
      +e('button').button-next 〉  
      +b.carousel 
        each item in data.mainSliderImages
          +e('img').img(src=asset(item.img))
      
    
