@import '../../assets/s/variables'

.main-slider
  display: flex
  align-items: flex-start
  justify-content: space-between

  &__info-container
    padding-top: 130px
    position: relative
    left: 20%

  &__tag
    text-transform: uppercase
    font-size: 10px
    margin-bottom: 8px

  &__headline
    display: block
    text-transform: uppercase
    font-size: 31px
    line-height: 40px
    font-weight: 400
    width: 300px
    margin-bottom: 8px

  &__description
    font-size: 13px
    line-height: 20px
    width: 300px

  &__socials
    margin-top: 50px

  &__facebook
    margin-right: 12px

  &__logo
    position: absolute
    left: -70px
    top: 157px


.carousel-container
  position: relative
  width: 50.5%

.carousel-container__button-prev,
.carousel-container__button-next
  border: none
  display: inline-block
  width: 52px
  height: 33px
  color: #000
  background-color: #fff
  text-align: center
  cursor: pointer
  outline: 0
  position: absolute
  z-index: 10
  bottom: 0

.carousel-container__button-next
  left: 52px
