include ../carousel/carousel

mixin b-mainSlider(data, socialList)
	+b.main-slider
		+e.info-container
			+e('img').logo(src= asset(data.logo))
			+e('p').tag= data.tag
			+e('p').headline= data.headline
			+e('p').description= data.description
			+e.socials
				+b-social-icons(socialList)
		+e.carousel
			+b-carousel(data.mainSliderImages)