include header/header
include footer/footer
//- include mainGallery/mainGallery
include clients/clients
include social-icons/social-icons
<<<<<<< HEAD
include menu/menu
=======
include menu/menu
include ../globals/common
include ../globals/data
include ../globals/mixins
include catalogue/catalogue
>>>>>>> parent of 843c93d... Merge branch 'master' into catalogue
