include ../globals/common
include ../globals/data
include ../globals/mixins
include header/header
include footer/footer
//- include mainGallery/mainGallery
include clients/clients
include social-icons/social-icons
include menu/menu
include gallery-content/gallery-content