include header/header
include footer/footer
<<<<<<< HEAD
=======
include mainGallery/mainGallery
include clients/clients
>>>>>>> 28dc3ef8bf5059286489690020f8bf970c1c99da
include social-icons/social-icons
include menu/menu
include ../globals/common
include ../globals/data
<<<<<<< HEAD
include ../globals/mixins
include clients/clients
=======
include ../globals/mixins
>>>>>>> 28dc3ef8bf5059286489690020f8bf970c1c99da
