include header/header
include footer/footer
include mainGallery/mainGallery
include clients/clients
include social-icons/social-icons
<<<<<<< HEAD
=======
<<<<<<< HEAD
include menu/menu
=======
>>>>>>> a8bb4d6159be40232a8af5d32b1b2f74a2c3eb5c
include menu/menu
include ../globals/common
include ../globals/data
include ../globals/mixins
include catalogue/catalogue
<<<<<<< HEAD
=======
>>>>>>> parent of 843c93d... Merge branch 'master' into catalogue
>>>>>>> a8bb4d6159be40232a8af5d32b1b2f74a2c3eb5c
