mixin b-header()
	+b.header
		+e.container
			+b.menu
				+e.icon
				+e('p').text Меню
			+e('img').logo(src='assets/i/logo.png')
			+e.social-icons
				+e('svg').facebook-icon
					use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#facebook'))
				+e('svg').instagram-icon
					use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#instagram'))