include ../../globals/data
include ../../globals/mixins

mixin b-menu(menuList)
	+b.menu
		+e('ul').list
			each it in menuList
				+e('li').item
					+e('a').link(id= it.id href= it.href, class= it.class)= it.text