include ../../globals/data
include ../../globals/mixins

mixin b-menu(menuList, activeMenuIndex)
	+b.menu
		+e('ul').list
			each it, index in menuList
				- var classes= ''
				if index == activeMenuIndex
					- classes = 'active'
				+e('li').item
					+e('a').link(id= it.id href= it.href, class= classes)= it.text