extends layouts/main

block content
	div(id="barba-wrapper")
		div(class="barba-container")
			+b-header(menuList, languagesList, socialList, '_white')
			+b-catalogue(catMenu, catPics)
	+b-footer(menuList)