extends layouts/main

block content
	div(id="barba-wrapper")
		div(class="barba-container")
			+b-header(menuList, languagesList, socialList, '_dark')
			+b-gallery-content(UMFData, imagesList)
			+b-gallery-slider(gallerySlider)
	+b-footer(menuList)