extends layouts/main

block content
	//- blocks go here
	+b-mainGallery(mainGallery)
	//- +b-header(data)
	//- +b-footer(data)
	//- +b-header(menuList, languagesList, socialList)
	+b-clients(clientsData)
