extends layouts/main

append params	
	- pageTitle = "Equal"
	- activeMenuIndex = 99


block content
	+b-header(menuList, languagesList, socialList, 99)
	+b-mainSlider(mainSlider)
	+b-mainGallery(mainGallery)
	+b-clients(clientsData)
	+b-footer(menuList)
