extends layouts/main

block content
	//- blocks go here
	//- +b-header(menuList, languagesList, socialList)
	+b-mainSlider(mainSlider)
	//- +b-mainGallery(mainGallery)
	//- +b-clients(clientsData)
	//- +b-footer(menuList)
