extends layouts/main

block content
	+b-header(menuList, languagesList, socialList)
	+b-mainSlider(mainSlider)
	+b-mainGallery(mainGallery)
	+b-team-slider(teamData)
	+b-clients(clientsData)
	+b-footer(menuList)
