extends layouts/main

block content
	div(id="barba-wrapper")
		div(class="barba-container")
			+b-header(menuList, languagesList, socialList)
			+b-mainSlider(mainSlider)
			+b-mainGallery(mainGallery)
			+b-clients(clientsData)
	+b-footer(menuList)
