@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.main-gallery
	margin: 0px auto
	max-width: 1240px
	padding: 0 20px
	&__header
		margin: 20px $gutter 0px $gutter
		display: flex
		color: #000000
		margin-top: 140px
		@media #{$tablet-land}
			flex-direction: column
			margin-top: 70px
		@media #{$tablet-port}
			margin-top: 60px
		@media #{$phone}
			margin-top: 60px
	&__collection
		margin-top: 100px
		@media #{$tablet-land}
			margin-top: 50px
		@media #{$tablet-port}
			margin-top: 50px
		@media #{$phone}
			margin-top: 30px
		&:after
			content: ''
			display: block
			clear: both
	&__counter
		flex-basis: 15%
		margin-bottom: 10px
	&__title
		text-transform: uppercase
		margin-top: -5px
		flex-basis: 35%
		margin-bottom: 10px
	&__description
		flex-basis: 35%
		font-size: 13px
		line-height: 20px
		letter-spacing: .5px
		@media #{$tablet-land}
			margin-bottom: 10px
		@media #{$phone}, #{$tablet-port} 
			display: none
	&__total
		flex-basis: 15%
		text-transform: uppercase
		text-align: right
		font-size: 13px
		@media #{$phone}, #{$tablet-port} 
			display: none
	&__link
		text-align: center
	&__picture
		border: $gutter solid white
	&__text
		position: absolute
		width: 100%
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		color: #eff2f4
		text-transform: uppercase
		h3,h6,p
			font-weight: 100
		h3
			padding: 5px
		p
			text-transform: none
	&__btn
		display: block
		text-decoration: none
		text-align: center
		padding: 10px 5px
		max-width: 200px
		background-color: black
		color: white
		margin: 30px auto 10px auto
		@media #{$phone}, #{$tablet-port}
			max-width: 100%