@import '../../assets/s/variables'
$gutter: 10px

*
	box-sizing: border-box
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.main-gallery
	// margin: 0px auto
	&__header
		margin: 0px $gutter 50px $gutter
		display: flex
		color: #000000
	&__collection
		&:after
			content: ''
			display: block
			clear: both
	&__counter
		flex-basis: 15%
	&__title
		text-transform: uppercase
		margin-top: -5px
		flex-basis: 35%
	&__description
		flex-basis: 35%
		@media #{$phone}, #{$tablet-port} 
			display: none
	&__total
		flex-basis: 15%
		text-transform: uppercase
		text-align: right		
		@media #{$phone}, #{$tablet-port} 
			display: none
	&__link
		text-align: center
	&__picture
		border: $gutter solid white
	&__text
		position: absolute
		width: 100%
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		color: #eff2f4
		text-transform: uppercase
		h3,h6,p
			font-weight: 100
		h3
			padding: 5px
		p
			text-transform: none
	&__btn
		display: block
		text-decoration: none
		text-align: center
		padding: 10px 5px
		max-width: 200px
		background-color: black
		color: white
		margin: 0 auto 10px auto
		@media #{$phone}, #{$tablet-port}
			max-width: 100%