@import '../../assets/s/variables'
$gallery-width: 800px
$xs-pic: $gallery-width/12
$gutter: 10px

*
	box-sizing: border-box
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.main-gallery
	max-width: $gallery-width
	margin: 0px auto
	&__header
		margin: 0px $gutter 50px $gutter
		display: flex
	&__counter
		flex-basis: 15%
	&__title
		text-transform: uppercase
		margin-top: -5px
		flex-basis: 35%
	&__description
		flex-basis: 35%
	&__total
		flex-basis: 15%
		text-transform: uppercase
		text-align: right		
	&__picture
		&_xs
			width: $xs-pic*3
			height: $xs-pic*3
		&_sm
			width: $xs-pic*6
			height: $xs-pic*3
		&_md
			width: $xs-pic*4
			height: $xs-pic*5
		&_lg
			width: $xs-pic*6
			height: $xs-pic*6
	&__btn
		text-align: center
		padding: 10px 5px
		max-width: 200px
		background-color: black
		color: white
		margin: 0 auto

/* ---- isotope grid structure---- */
.grid
	max-width: $gallery-width
.grid:after
  content: ''
  display: block
  clear: both
/* ---- .grid-item ---- */
.grid-item
  float: left
  border: $gutter solid white;