mixin b-mainGallery(data)
	+b.main-gallery
		+e.header
			+e("h4").counter= data.current 
			+e("h1").title= data.title 
			+e("p").description= data.description 
			+e("p").total= data.total  
		+e.collection.grid
			each picture in data.pictures 
				//- +e("a").link(href="#")
				+e("img").picture.grid-item(class=picture.class src=asset(picture.img))
		+e.btn= data.btn

-
	var mainGallery = 
		{
			current: "01",
			title: "галерея",
			description: "Кожен з нас робить по 400 зйомок в рік, і кожна успішна. Ми не просто робимо фотографію, ми знімаємо для вас фотоісторію",
			total: "24 альбоми",
			pictures: 
				[
					{
						img: "i/lobby.jpg", 
						class: "main-gallery__link_lg"
					},
					{
						img: "i/food_serve.jpg", 
						class: "main-gallery__link_xs"
					},
					{
						img: "i/rest_supply.jpg", 
						class: "main-gallery__link_xs"
					},
					{
						img: "i/trip.jpg", 
						class: "main-gallery__link_sm"
					},
					{
						img: "i/tesla.jpg", 
						class: "main-gallery__link_md"
					},
					{
						img: "i/wedding.jpg", 
						class: "main-gallery__link_md"
					},
					{
						img: "i/food_dish.jpg", 
						class: "main-gallery__link_md"
					},

				],
			btn: "ВСІ РОБОТИ"
		}
