extends root

block meta
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

block styles
	link(rel="stylesheet" href=asset("styles.css"))

block scripts
	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")

	script(src=asset("main.js"))
	script(src=asset("app.bundle.js"))


block main
	block content