include ../../node_modules/bemto.pug/bemto
<<<<<<< HEAD
include ../globals/common
include ../globals/data
include ../globals/mixins
=======
>>>>>>> 28dc3ef8bf5059286489690020f8bf970c1c99da
include ../blocks/all


doctype html
html
	head
		title EQUAL
		block meta
		block styles
	body
		block main
		block scripts