include ../../node_modules/bemto.pug/bemto
include ../blocks/all

block params
	- var pageTitle = "Главная"
	- var activeMenuIndex = 99

doctype html
html
	head
		title EQUAL
		block meta
		block styles
	body
		block main
		block scripts