@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.header
	position: relative
	width: 100%
	background-color: transparent
	&__container
		width: 100%
		max-width: 1200px
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: flex-start
	&__menu-burger
		padding-top: 27px
	&__menu-icon
		width: 20px
		height: 20px
		fill: #000
		margin-bottom: -4px
		cursor: pointer
	&__menu-text
		text-transform: uppercase
		font-weight: 700
		color: #000
	&__logo
		padding-top: 28px
		padding-bottom: 60px
	&__logo-left-w,
	&__logo-right-b
		display: none
	&__icons
		.icons
			visibility: hidden
		.icon
				fill: #000
		.icon_cross
				display: none
	&__burger
		position: absolute
		top: 55px
		display: none
		background-color: #fff
		padding-left: 177px
		width: 490px
		height: 530px
		z-index: 10
	&__languages
	&__item
		display: inline-block
		padding-top: 45px
		margin-right: 18px
		margin-bottom: 80px
	&__link
		color: gray
		text-decoration: none
		&.active
			color: #000
	&__email,
	&__phone
		color: #000
		margin-bottom: 15px
	&__email
		margin-top: 75px
	&__burger &__icons
		.icons
			visibility: visible
			margin-top: 30px
		.icon
			color: #000
			margin-left: 0px
			margin-right: 20px
		.icon_facebook,
		.icon_instagram
			visibility: visible
		.icon_cross
			visibility: hidden

.header_dark
	position: relative
	width: 100%
	background-color: transparent
	.header
		&__container
			width: 100%
			max-width: 1200px
			margin: 0 auto
			display: flex
			justify-content: space-between
			align-items: flex-start
		&__menu-burger
			padding-top: 27px
		&__menu-icon
			width: 20px
			height: 20px
			fill: #000
			margin-bottom: -4px
		&__menu-text
			text-transform: uppercase
			font-weight: 700
			color: #000
		&__logo
			padding-top: 28px
			padding-bottom: 60px
		&__logo-left-w,
		&__logo-right-w
			display: none
		&__logo-left-b,
		&__logo-right-b
			display: inline
		&__icons
			.icons
				visibility: visible
			.icon
				fill: #000
			.icon_facebook,
			.icon_instagram
				visibility: hidden
			.icon_facebook
				display: none
			.icon_cross
				display: inline
		&__burger
			display: none

.header_white
	position: relative
	width: 100%
	background-color: #000
	.header
		&__container
			width: 100%
			max-width: 1200px
			margin: 0 auto
			display: flex
			justify-content: space-between
			align-items: flex-start
		&__menu-burger
			padding-top: 27px
		&__menu-icon
			width: 20px
			height: 20px
			fill: #fff
			margin-bottom: -4px
		&__menu-text
			text-transform: uppercase
			font-weight: 700
			color: #fff
		&__logo
			padding-top: 28px
			padding-bottom: 60px
		&__logo-left-w,
		&__logo-right-w
			display: inline
		&__logo-left-b,
		&__logo-right-b
			display: none
		&__icons
			.icons
				visibility: visible
			.icon
				fill: #fff
			.icon_cross
				display: none
		&__burger
			display: none