include ../../globals/mixins.pug

mixin b-header(classes)
	+b.header(class=classes)
		+e.container
			+e.menu
				+b-menu()
			+e.logo
				+e('img').logo-left-b(src='assets/i/logo-left-black.png')
				+e('img').logo-left-w(src='assets/i/logo-left-white.png')
				+e('img').logo-right-b(src='assets/i/logo-right-black.png')
				+e('img').logo-right-w(src='assets/i/logo-right-white.png')
			+e.social-icons
				+b-social-icons()
		+e.burger(id='burger')
			+e('ul').languages
				+e('li').lang-item.ru ру
				+e('li').lang-item.ua ук
				+e('li').lang-item.en en
			+e('ul').list
				+e('li').item
					+e('a').link(href='gallery.pug') Галерея
				+e('li').item
					+e('a').link(href='#') О нас
				+e('li').item
					+e('a').link(href='#') Блог
			+e('p').email eqlagency@gmail.com
			+e('p').phone +38 050 571 69 06
			+e.social-icons
				+b-social-icons()