@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.header
	position: absolute
	width: 100%
	background-color: transparent
	&__container
		width: 100%
		max-width: 1240px
		margin: 0 auto
		padding: 0 20px
		display: flex
		justify-content: space-between
		align-items: flex-start
		flex-wrap: wrap
		@media #{$phone}
			justify-content: space-around
	&__menu-burger
		padding-top: 27px
	&__menu-icon
		width: 20px
		height: 20px
		fill: #000
		margin-bottom: -4px
		cursor: pointer
	&__menu-text
		text-transform: uppercase
		font-weight: 700
		color: #000
	&__logo
		padding-top: 28px
		padding-bottom: 60px
		z-index: 100
		@media #{$tablet-land}
			padding-bottom: 50px
		@media #{$tablet-port}
			padding-bottom: 40px
		@media #{$phone}
			padding-bottom: 30px
	&__logo-left-w,
	&__logo-right-b
		display: none


	&__icons
		.icons
			padding-top: 30px
			visibility: hidden
			@media #{$phone}
				padding-top: 0
				padding-bottom: 20px
		.icon
			fill: #000
		.icon_cross
			display: none
	&__burger
		position: absolute
		top: 55px
		display: none
		background-color: #fff
		padding-left: 177px
		width: 490px
		height: 480px
		z-index: 10
		@media #{$tablet-land}
			padding-left: 10%
			width: 80%
		@media #{$tablet-port}
			padding-left: 10%
			width: 80%
			height: 400px
		@media #{$phone}
			padding-left: 10%
			width: 80%
			height: 400px
	&__languages
	&__item
		display: inline-block
		padding-top: 45px
		margin-right: 18px
		margin-bottom: 80px
		@media #{$tablet-port}
			padding-top: 30px
			margin-bottom: 50px
		@media #{$phone}
			padding-top: 30px
			margin-bottom: 50px
	&__link-lang
		color: gray
		text-decoration: none
		&.active
			color: #000
	&__email,
	&__phone
		color: #000
		margin-bottom: 15px
		@media #{$tablet-port}
			margin-bottom: 10px
		@media #{$phone}
			font-size: 14px
			margin-bottom: 10px
	&__email
		margin-top: 75px
		@media #{$tablet-port}
			margin-top: 50px
		@media #{$phone}
			margin-top: 50px
	&__burger &__icons
		.icons
			visibility: visible
			margin-top: 30px
		.icon
			color: #fff
			margin-left: 0px
			margin-right: 20px
		.icon_facebook,
		.icon_instagram
			visibility: visible
		.icon_cross
			visibility: hidden
	&__menu
		.menu
			&__item
				margin-bottom: 7px
			&__link
				text-decoration: none
				text-transform: uppercase
				color: #000
				font-weight: 700
				font-size: 24px
				&.active
					border-bottom: 3px solid #000

.header_dark
	position: relative
	width: 100%
	background-color: transparent
	.header
		&__container
			width: 100%
			max-width: 1240px
			margin: 0 auto
			padding: 0 20px
			display: flex
			justify-content: space-between
			align-items: flex-start
			flex-wrap: wrap
			@media #{$phone}
				justify-content: space-around
		&__menu-burger
			padding-top: 27px
		&__menu-icon
			width: 20px
			height: 20px
			fill: #000
			margin-bottom: -4px
		&__menu-text
			text-transform: uppercase
			font-weight: 700
			color: #000
		&__logo
			padding-top: 28px
			padding-bottom: 60px
			@media #{$tablet-land}
				padding-bottom: 50px
			@media #{$tablet-port}
				padding-bottom: 40px
			@media #{$phone}
				padding-bottom: 30px
		&__logo-left-w,
		&__logo-right-w
			display: none
		&__logo-left-b,
		&__logo-right-b
			display: inline
		&__icons
			.icons
				visibility: visible
				padding-top: 27px
			.icon
				fill: #000
				@media #{$phone}
					margin-left: 0
			.icon_instagram
				visibility: hidden
			.icon_facebook
				display: none
			.icon_cross
				display: inline
				@media #{$phone}
					margin-right: 10px
		&__burger
			display: none
		&__burger .header__icons
			.icon
				fill: #000

.header_white
	position: relative
	width: 100%
	background-color: #000
	.header
		&__container
			width: 100%
			max-width: 1240px
			margin: 0 auto
			padding: 0 20px
			display: flex
			justify-content: space-between
			align-items: flex-start
			flex-wrap: wrap
			@media #{$phone}
				justify-content: space-around
		&__menu-burger
			padding-top: 27px
		&__menu-icon
			width: 20px
			height: 20px
			fill: #fff
			margin-bottom: -4px
		&__menu-text
			text-transform: uppercase
			font-weight: 700
			color: #fff
		&__logo
			padding-top: 28px
			padding-bottom: 60px
			@media #{$tablet-land}
				padding-bottom: 50px
			@media #{$tablet-port}
				padding-bottom: 40px
			@media #{$phone}
				padding-bottom: 30px
		&__logo-left-w,
		&__logo-right-w
			display: inline
		&__logo-left-b,
		&__logo-right-b
			display: none
		&__icons
			.icons
				visibility: visible
				padding-top: 30px
				@media #{$phone}
					padding-bottom: 20px
			.icon
				fill: #fff
				@media #{$phone}
					margin-left: 0
			.icon_facebook
				@media #{$phone}
					margin-right: 10px
			.icon_cross
				display: none
		&__burger
			display: none
		&__burger .header__icons
			.icon
				fill: #000
