.gallery-slider
	&__container
		width: 100%
		max-width: 1240px
		margin: 0 auto
		padding: 0 20px
	&__slides
		display: flex
		justify-content: space-between
		padding-top: 35px
		padding-bottom: 35px
		display: none
	&__info
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		letter-spacing: 1px
	&__category,
	&__text
		text-transform: uppercase
		color: #fff
		text-align: center
		font-weight: 400
	&__category
		@media #{$tablet-land}
			font-size: 14px
		@media #{$tablet-port}
			font-size: 14px
		@media #{$phone}
			font-size: 12px
	&__text
		padding-top: 20px
		padding-bottom: 20px
		position: relative
		@media #{$desktopXS}
			font-size: 22px
			padding-top: 15px
			padding-bottom: 15px
		@media #{$tablet-land}
			font-size: 18px
		@media #{$tablet-port}
			font-size: 18px
			padding-top: 15px
			padding-bottom: 15px
		@media #{$phone}
			font-size: 18px
			padding-top: 15px
			padding-bottom: 15px
		&:after
			content: ""
			position: absolute
			left: 50%
			transform: translate(-50%)
			bottom: 0
			height: 1px
			width: 35px
			border-bottom: 2px solid #fff
	&__slide
		background-size: cover
		background-position: center
		width: 100%
		height: 185px
		position: relative
		margin: 0 $gutter
		@media #{$tablet-land}
			height: 155px
		@media #{$tablet-port}
			height: 140px
		@media #{$phone}
			height: 140px
	.slide-1
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/1-1600.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/1-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/1-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/1-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/1-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/1-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/1-2000.jpg')
	.slide-2
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/2.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/2-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/2-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/2-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/2-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/2-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/2-2000.jpg')
	.slide-3
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/3.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/3-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/3-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/3-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/3-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/3-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/3-2000.jpg')
	.slide-4
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/4.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/4-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/4-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/4-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/4-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/4-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/4-2000.jpg')
	.slide-5
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/5.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/5-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/5-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/5-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/5-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/5-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/5-2000.jpg')
	.slide-6
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/6.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/6-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/6-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/6-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/6-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/6-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/6-2000.jpg')
	.slide-7
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/7.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/7-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/7-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/7-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/7-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/7-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/7-2000.jpg')
	.slide-8
		background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/8.jpg')
		@media #{$phone}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/8-320.jpg')
		@media #{$tablet-port}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/8-480.jpg')
		@media #{$tablet-land}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/8-768.jpg')
		@media #{$desktopXS}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/8-1024.jpg')
		@media #{$desktopMD}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/8-1600.jpg')
		@media #{$desktopXL}
			background-image: linear-gradient(rgba(#000, .7)), url('./i/gallery-slider/8-2000.jpg')
	&__data
		margin-bottom: 35px
		display: flex
		justify-content: space-between
	&__albums
		text-transform: uppercase
		letter-spacing: 1px
		color: $light-gray-gallery
		font-size: 13px
	&__button-prev,
	&__button-next
		width: 15px
		height: 15px
		fill: #000
		cursor: pointer
	&__button-next
		margin-left: 35px