@import '../../assets/s/variables'
$clients-width: 800px
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.clients
	max-width: $clients-width
	margin: 0px auto
	&__header
		display: flex
		margin-bottom: 50px
	&__current
		flex-basis: 15%
	&__title
		flex-basis: 85%
		text-transform: uppercase
	&__collection
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-items: center
	&__link
	&__logo
		width: $clients-width/5-20
		margin: 10px