@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.clients
	margin: 0px auto
	max-width: 1240px
	padding: 0 20px
	margin-bottom: 100px
	@media #{$phone}, #{$tablet-port}
		margin-bottom: 60px
	&__header
		margin: 0px $gutter 50px $gutter
		display: flex
		@media #{$phone}, #{$tablet-port}
			margin: 0px $gutter 0px $gutter

	&__current
		flex-basis: 15%
	&__title
		flex-basis: 85%
		text-transform: uppercase
	&__collection
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		align-items: center
		margin-top: 100px
		@media #{$phone}, #{$tablet-port}
			margin-top: 60px
	&__link
		flex-basis: 20%
		text-align: center
	&__logo
		max-width: 90%
